.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback-form label {
     display: flex;
     flex-direction: column;
     gap: 8px;

}

textarea, input {
border-radius: 3%;
border : 1px solid;
}

.feedback-form button{
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4E75FF;
    color : white;
    border : none;
    border-radius: 8px;
}
