.gallery{
    display: flex;
    flex-wrap: wrap ;
    gap: 24px;
    justify-content: center;
    
}

.gallery-image{
    max-width: 360px;
    max-height: 300px;
}

.gallery-image:hover{
    cursor: zoom-in;
    transform: scale(1.1);
}

.modal{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(46, 47, 66, 0.8);
    display: flex;
    transition: opacity 300ms ease-in-out;
}
.modal-photo{
    margin: auto;
}
.modal-image{
width: 1112px;
    height: 640px;
    cursor: zoom-out;
}

/* Styles for Mobile devices */
main {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  main {
    max-width: 768px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
  }
}
